// Variables are defined before other imports
$border-primary: 1px solid $alto;
$background-primary: $alabaster;

%flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

%no-link:link,
%no-link:visited,
%no-link:hover,
%no-link:active {
	text-decoration: none;
	color: inherit;
}
.h4 {
	color: $gray;
}

$grid-max: 640px;


$dimension-100: 10px;
$dimension-200: 20px;
$dimension-300: 30px;

.br {
	display: block;
	width: 100%;
	height: $dimension-100;
}
.br.br-200 {
	height: $dimension-200;
}

.br.br-300 {
	height: $dimension-300;
}