$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


// can add Boostrap overrides, additional Sass/CSS below...


@import './reset.scss';
@import './grid.scss';
@import './colors.scss';
@import './constants.scss';


// Atoms
@import './atom/header.scss';


// Molecules
@import './molecule/card.scss';
@import './molecule/post.scss';


// Pages
@import './page/home.scss';
@import './page/login.scss';
@import './page/register.scss';
@import './page/profile.scss';
@import './page/photo.scss';
@import './page/feed.scss';
@import './page/topic.scss';
@import './page/topics.scss';
@import './page/post.scss';


body, input, textarea {
	font-family: Helvetica, Arial;
}

b {
	font-weight: bold;
}