

.user {
	text-align: center;
}
.user-photo {
	height: 100px;
	width: 100px;
	border: 2px solid #dcdcdc;
	border-radius: 50%;
	display: inline-block;
}

.grid {
	height: 200px;
	width: 200px;
	display: inline-block;
	background: #dcdcdc;
	margin: 5px;
}