.page-profile {
	text-align: center;

	.container {
		text-align: left;
	}
	.user {
		text-align: center;
	}
	.user-stats {
		color: $gray;
	}
	.user-photo {
		height: 120px;
		width: 120px;
		border: 2px solid $alto;
		border-radius: 50%;
		display: inline-block;
	}

	.photos {
		@extend %flex;
		flex-wrap: wrap;
		width: 100%;
		border: $border-primary;
	}
	.photo-wrapper {
		display: block;
		width: calc(100% / 4);
		padding: $dimension-50;
	}
	// .photo-wrapper:nth-child(4n + 1) {
	// 	padding-left: 0;
	// }
	// .photo-wrapper:nth-child(4n) {
	// 	padding-right: 0;
	// }

	.photo {
		height: 0;
		padding-top: 100%;
		width: 100%;
		// padding-top: calc(100% / 4);
		display: inline-block;
		background: $alto;
		border: $border-primary;
	}

	.icon-edit {
		font-size: 16px;
		color: $gray;
		cursor: pointer;
	}
	.icon-edit:hover {
		color: $dodger-blue;
	}

	.form-photo {

	}
	.form-photo__textarea {
		width: 100%;
		border: $border-primary;
		resize: none;
	}
}