.page-topic {
	text-align: center;

	.container {
		margin: auto;
		text-align: left;
	}

	.h3 {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.h4 {
		color: $gray;
		font-size: 16px;
		font-weight: 300;
	}

	.form-topic {
		border: $border-primary;
		border-radius: 5px;
		padding: $dimension-200;
	}

	.form-topic__textarea {
		width: 100%;
		border: none;
		background: $alto;
		resize: none;
		padding: $dimension-100;
	}

}
