.header {
	@extend %flex;
	height: 60px;
	border-bottom: $border-primary;
	background: white;
	justify-content: space-between;
	align-items: center;
}

.header-brand {
	@extend %no-link;
	font-size: 20px;
	font-weight: bold;
	padding: 0 20px;
}

.header-links {
	padding: 0 10px;
}

.header-link {
	padding: 0 5px;
}

.logout {
	display: inline-block;
	padding: 0 20px;
	cursor: default;
}